:root {
    --mainColorBackground: rgb(86, 86, 158);
    --mainColorTextBackground: rgb(192, 176, 176);
    --mainColorBackgroundGradient:  linear-gradient(90deg, rgba(50,50,96,1) 0%, rgba(68,68,122,1) 10%, rgba(68,68,122,1) 15%, rgba(66,62,114,1) 20%, rgba(59,36,70,1) 45%, rgba(59,36,70,1) 50%, rgba(59,36,70,1) 55%, rgba(156,20,142,1) 80%, rgba(168,19,153,1) 85%, rgba(168,19,153,1) 90%, rgba(129,16,117,1) 100%);
}
body {
    background-color: var(--mainColorBackground);
    background: var(--mainColorBackgroundGradient);
}
.content-forms{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-forms form h3{
    font-size: 2.5vw;
    margin-block-start: 0vh;
    margin-block-end: 0vh;
}
.content-forms label p{
    font-size: 1.5vw;
    padding-top:3vh;
    padding-bottom:0vh;
}
.content-forms label input{
    font-size: 1.25vw;
    border-radius: 10px;
    background-color: var(--mainColorTextBackground);
}
.content-forms .button-area{
    text-align:auto;
    align-items: auto;
}
.content-forms .button-area .form-button{
    padding-top:1vh;
}
.content-forms .button-area .form-button input{
    font-size: 1.5vw;
    border:none;
    border-radius: 5px;
    background-color: var(--mainColorTextBackground);
}
.div-glass-background{

    width:50vw;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    text-align:center;
}


.content-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10vh;
}
#buttonLogOut{
    position:fixed;
    right:0px;
    font-size: 1.5vw;
    border:none;
    border-radius: 5px;
    background-color: var(--mainColorTextBackground);
}
.content-main form h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.div-glass-background-main{

    width:50vw;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}

.content-main label input{
    font-size: 1.25vw;
    border-radius: 10px;
    background-color: var(--mainColorTextBackground);
}
.content-main input{
    font-size: 1.25vw;
    border:none;
    border-radius: 5px;
    background-color: var(--mainColorTextBackground);
}
.content-main select{
    font-size: 1.25vw;
    border:none;
    border-radius: 5px;
    background-color: var(--mainColorTextBackground);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    width: 50vw;
    bottom: 100%;
    left: 50%;
    margin-left: -25vw; /* Use half of the width (120/2 = 60), to center the tooltip */
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext:hover {
    visibility: hidden;
  }